#projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    margin-top: 70px;
}

#projects .header-title {
    text-align: right;
    padding-top: 70px;
}

.project-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0%;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 32.5%;
    /* width: calc(33.3vw - 39px); */
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    line-height: 1.2;
    /* width: 361px; */
}

.project-details h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.045em;
}

.project-details p {
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: -0.045em;
}

#projects-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-between;
    
}

.btns-container {
    display: flex;
}

.projects-btn {
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: 0.3s all ease;
    font-weight: 500;
}

.projects-btn:hover {
    /* color: rgb(236, 236, 228); */
    color: rgb(30, 60, 196);
    background-color: rgb(189, 218, 255);
    border: 1px solid transparent

}

#projects-nav {
    display: flex;
    gap: 100px;
}

#projects-nav li h1 {
    font-size: 70px;
    font-weight: 700;
}

#projects-nav li h3,
.project-header-container h2{
    font-size: 26px;
}

#projects-nav li {
    color: rgb(175, 177, 144);
    cursor: pointer;
    transition: 0.3s all ease;
    line-height: 0.9;
}

#projects-nav li:hover {
    color: rgb(143, 146, 110);
}

.project-card-img-container {
    width: 100%;
    min-height: 391px;
    box-sizing: border-box;
    position: relative;
}

.project-details h3 {
    margin: 10px 0px;
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 23, 23, 0) 0%, #292828 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.2s all ease;
}

.image__overlay:hover {
    opacity: 1;
}

.active {
    color: rgb(241, 210, 70) !important;
}

.project-img-full {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    max-height: 70vh;
    object-fit: cover;
    object-position: 0% 0%;
}

.tech-stack-div {
    display: flex;
    gap: 20px;
}

.project-header-container {
    display: flex;
    justify-content: space-between;
}

#image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.gallery-image {
    width: 100%;
    height: 100%;
}

@media (max-width: 1050px) {
    #projects-nav {
        justify-content: space-evenly;
        gap: 30px;
    }
    #projects-page-wrapper {
        gap: 20px;
    }

    #projects-container {
        flex-direction: column;
        gap: 30px;
    }

    .project-card {
        /* flex-direction: row; */
        width: 100%;
    }
    .project-card-img-container{
        min-width: 70%;
        min-height: auto;
    }
    .skills-table-row {
        flex-direction: column;
    }

}

@media (max-width: 635px) {
    #projects-nav li {
        /* min-width: calc(100vw / 3); */

    }
    #projects-nav li h1 {
        font-size: 9vw;
    }

    #projects-nav li h3 {
        font-size: 3vw;
    }
    .project-header-container {
        flex-direction: column;
        gap: 15px;
    }
}