#nav-bar-1 {
    height: 100vh;
    position: fixed;
    top: 30px;
    right: 30px;
    text-align: right;
    min-width: 100px;
    max-width: 100px;
}

#hamburger-button, #close-nav-btn {
    display: none;
    position: fixed;
    top: 0;
    padding: 20px 0px;
    z-index: 101;
    left: 0;
    /* left: 50%; */
}

.close-nav {
    display: block;
    width: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: 0.3s;
    background-color: rgba(228, 225, 218, 1);
}

.open-nav {
    display: block;
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: 0.3s;
    background-color: rgba(228, 225, 218, 1);
}

#nav-bar-1 ul li:hover {
    font-weight: 600;
}

#initials {
    font-size: 48px;
    margin-bottom: 20px;
}
@media (max-width: 814px) {
    #nav-bar-1 {
        display: none;
        min-width: 0px;
        max-width: 0px;
        right: 0;
    }

    #hamburger-button, #close-nav-btn {
        display: block;
        background-color: rgba(228, 225, 218, 1);
        width: 100%;
        cursor: pointer;
    }
    #nav-bar-2 ul {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        margin-top: 150px;
        align-items: center;
        height: 100%;
        gap: 20px;
    }

    #nav-bar-2 ul li {
        transition: 0.3s all ease;
        cursor: pointer;
    }

    #nav-bar-2 ul li:hover {
        font-weight: 600;
    }
}